<p id="notice"><%= notice %></p>


<h1>Students</h1>
<div class="modal fade" id="edit_students"></div>

<table id="pike_table", data-source="<%= students_path(format: :json) %>">

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birthday</th>
      <th>Class name</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      
    </tr>
  </thead>
</table>
<button id="greet-user-button">Hey!</button>

<br>
  <script>
  
</script>
<%= javascript_pack_tag 'students' %>
<%= link_to 'New Student', new_student_path %>
