<p id="notice"><%= notice %></p>


<h1>Students</h1>

<table id = "pike_table" class = 'dataTable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Class name</th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
      
    </tr>
  </thead>
</table>

<br>
  <script>
  document.addEventListener('turbolinks:load', function() {
    $('#pike_table').dataTable({
      "processing": true,
      "serverSide": true,
      "ajax": "/students.json",
      "columns": [
        {data: "name"},
        {data: "birthday"},
        {data: "class_name"}
      ]
    });
  });
</script>
<%= javascript_pack_tag 'students' %>
<%= link_to 'New Student', new_student_path %>
